@media all and (max-width: 1024px){
    *{
        margin: 0;
    }
}

@media all and (max-width: 670px){
    *{
        margin: 0;
    }
    
    /* header */
    .menu{
        display: none !important;
    }

    .regist{
        padding-right: 40px;
        margin-top: 5px !important;
    }

    .menu-icon{
        display: block !important;
    }

    /* body */
    .body{
        padding: 70px 100px !important;
    }
    
    .hero{
        margin: 30px 30px !important;
    }

    /* footer */
    .footer-click{
        display: none;
    }

    footer{
        display: flex;
        justify-content: center;
    }
}