body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #232327;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-left{
    display: flex;
    align-items: center;
    color: #e8eaeb;
    padding-top: 5px;
}

.logo img{
    width: 60px;
}

.menu{
    display: flex;
    padding: 0 20px;
}

.menu a{
    color: #e8eaeb;
}

.page{
    padding: 0 20px;
    margin-bottom: 10px;
}

.page a:hover{
    color: rgb(223, 66, 66);
}

.header-right{
    display: flex;
}

.header-right a{
    color: #e8eaeb;
}

.regist{
    margin-bottom: 5px;
}

.regist a:hover{
    color: rgb(223, 66, 66);
}

.menu-icon{
    display: none;
}

.menu-icon:hover .menu-wrap{
    display: block;
    position: absolute;
}

.icon{
    width: 30px;
    height: 4px;
    background-color: #e8eaeb;
    margin: 6px 0;
}

.menu-wrap{
    display: none;
    box-shadow: 0 0 2px #111114;
    padding: 13px 16px;
    background-color: #303338;
    position: absolute;
    right: 0;
    top: auto;
}

.menu-wrap a{
    color: #e8eaeb;
}

.menu-wrap li{
    list-style: none;
}

.menu-item{
    text-align: right;
}

.menu-item:nth-child(even){
    margin: 8px 0;
}

.menu-item a:hover{
    color: rgb(223, 66, 66);
}

.body{
    background-image: url(../assets/background.jpg);
    background-size: cover;
    padding: 65px;
}

.title h3{
    margin: 0;
    font-size: 35px;
    text-align: center;
    color: red;
}

.mechanics{
    display: flex;
    justify-content: center;
    color: #e8eaeb;
}

.content{
    width: 750px;
    padding: 65px 0;
    font-size: 19px;
}

.content li{
    padding-bottom: 5px;
}

footer {
    padding: 20px;
    background-color: #232327;
    height: 65px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer a {
    padding: 0 25px;
    color: #e8eaeb;
    float: left;
}

.footer-click:hover {
    text-decoration: underline;
    color: white;
}